<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz 2</title>
</head>
<body>
    <div id="app">
        <input type="text" v-model="newName" placeholder="Input Name">
        <button @click="addName" v-if="truefalse">Add</button>
        <button @click="updateName" v-else="truefalse">Update</button>
        <ul>
            <li v-for="(user, noindex) in users">{{user.name}} <button @click="editName(user.name, noindex)">Edit</button> || <button @click="deleteName(noindex)">Delete</button></li>
        </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var vm = new Vue( {
            el: '#app',
            data: {
                users: [
                    {
                        'name': 'Muhammad Iqbal Mubarok',
                    },
                    {
                        'name': 'Ruby Purwanti',
                    },
                    {
                        'name': 'Faqih Muhammad',
                    }
                ],
                truefalse: true,
                newName: '',
                noIndex: ''
                
            },
            methods: {
                addName: function() {
                    this.users.push({name: this.newName})
                },
                deleteName: function(noindex) {
                    if (confirm("Anda Yakin?")) {
                        return this.users.splice(noindex,1)
                    } else {
                        alert("Anda Tidak Jadi Menghapus")
                    }
                },
                editName: function(namanya, noindex) {
                    this.truefalse = false
                    this.newName = namanya
                    this.noIndex = noindex
                },
                updateName: function() {
                    this.truefalse = true
                    this.users[this.noIndex].name = this.newName
                    this.newName = ''
                },
            }
        })
    </script>
</body>
</html>