<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <input type="text" placeholder="Ketik Kata Kunci Disini" v-model="search">
        <ul>
            <li v-for="buku in filterBuku">{{ buku }}</li>
        </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                books: [
                    'Kalkulus Dasar',
                    'Fisika Dasar',
                    'Aljabar Linear Elementor',
                    'Aljabar Abstrak',
                    'Bikin mading lebih keren',
                    'Ice breaker',
                    'Be new you',
                    '100 Hal yang harus ditanyakan sebelum menikah',
                    'Bikin belajar selezat coklat',
                    'Membaca kepribadian orang',
                    'Seni berbicara',
                    'Daftar situs beasiswa',
                    'Strategi Pengembangan diri',
                    'Teknik Persuasi yang Efektif',
                    'Kepemimpinan dan seni berbicara',
                    'Being happy',
                    '7 Habits of Highly effective teens',
                    'Don’t sweat the small stuff for teens',
                    'Kumpulan Senam dan artikel kesehatan',
                    'Trobbing tonight 7',
                    'Crayon sinchan 46',
                    'Crayon sinchan 25',
                    'Membaca emosi orang',
                    'usaha aneka katering',
                    'Tips menulis dalam bahasa inggris',
                    'agar siapa saja mau berubah',
                    'jurus jitu membuka usaha restoran',
                    'spss 13.0 terapan riset parametrik',
                    'Quantum learning',
                    'variasi kue semprit',
                    'romantic intelegence',
                    'roti favorit',
                    'edisi khusus spss',
                    'Pengantar psikologi klinis',
                    'Kiat jitu mencari kerja',
                    'jurus untuk jadi cewek kredibel',
                    'Masakan Indonesia',
                    '1001 Resep masakan lengkap',
                    'Dasar dan arah public relation',
                    'kamus bahasa jawa',
                    'Kreasi bolu gulung',
                    'menggunakan SPSS untuk statistik parametrik',
                    'Tips menulis dalam bahasa inggris',
                    '100 permainan kreatif',
                    'menyelami nama Allah yang indah',
                    'Super mentoring senior',
                    'kumpulan resep',
                    'Statistika',
                    'negeri 5 menara',
                ],
                search: ''
            },
            computed: {
                filterBuku: function() {
                    return this.books.filter((buku) => buku.toLowerCase().match(this.search));
                }
            }
        })
    </script>
</body>
</html>